<!--Edit user by manager-->
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<div  class="bcgnonee">
<div class="navbar" navbar></div>
</br>
	<div class="heading-contact-title">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <div class="section-heading">
                    <h2>{{ 'RESERVATION' | translate }}</h2>
                    <i class="fa fa-2x fa-angle-down"></i>
                    </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
	<div class="col-lg-10 col-lg-offset-2">
        <div class="boxed-grey" style="padding-top:10px;"  ng-controller="EditReservationController">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
        <pre class="alert alert-info" style="text-align:center;"> {{ 'SEL_APP' | translate }}: <em>{{dt | date:'dd-MM-yyyy' }}, {{mytime | date:'HH:mm' }} </em></pre>
        </div>
        </div>
            <form id="reservation-form" name="reservationForm" style="margin-left:5%;">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label for="user_doctor_id">
                                {{ 'DOCTOR' | translate }}
                            </label>
                            <!--<div class="input-group">-->
                                <label class="control-label" for="inputSuccess4"></label>
                                <select style="width:350px;margin-bottom:5px;" class="form-control" ng-model="user" ng-options="user.name for user in users | filter:{role_id:3} track by user.id " required id="inputSuccess4"></br></br>
                                </select>
                                <div for="user.job">
                                {{ 'PROFESSION' | translate }}: {{user.job}}
                                </div>
                            <!--</div>-->
                        </div>
                        <div class="form-group">
                            <label for="description">
                                {{ 'DSC' | translate }}</label>
                            <textarea name="message" ng-model="reservation.description" class="formf-control msg-desc" rows="9" cols="25" required="required" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                {{ 'TYPEF' | translate }}</label>
                            <select style="width:350px;" ng-model="reservation.form" ng-options="form for form in forms" class="form-control" required="required">
                            </select>
                        </div>
                    </div>
                    <div class='col-sm-6 col-md-6 col-lg-6'>
                        <div class="form-group">
                        <div><label> {{ 'APPOINTMENTDATE' | translate }}</label></div>
                        <div style="display:inline-block;">
                            <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm time" custom-class="getDayClass(date, mode)"></datepicker>
                        </div>
                        <div><label class="time-title">{{ 'TIME' | translate }}</label></div>
                        <div class="row">
                        <div class="col-md-6 col-lg-6">
                        <div class="time-picker">
                        <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker></div>
                        </div>
                         <div class="col-md-6 col-lg-6">
                        <button type="submit" class="btn btn-primary res-button" id="btnf" ng-click="editReservation()" ng-disabled="reservationForm.$invalid">
                            {{ 'EDIT' | translate }}
                        </button>
                    </div>
                    </div>
                        </div>
                    </div>
                    </div>
                   
                </div>
            </form>
        </div>
    </div>

	<div id="copyright">© Copyright 2015</div>
</div>
</body>
