<head>
    <!--font for icon in circle button on home page-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<!--navbar-->
<nav class="navbar navbar-custom navbar-fixed-top ribbon nblue" role="navigation">
    <div class="localization-bs-en" localization-bs-en></div>
     <div class="container" ng-controller="HomeAdminController">
        <div class="navbar-header page-scroll">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#/home_admin">
           <h1 class="naslov1">eSTAMPARIJA</h1>
        </a>
          </div>
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse navbar-font">
           <ul class="nav navbar-nav navbar-font">

            <li class="dropdown">
              <a href class="dropdown-toggle" data-toggle="dropdown"><span>{{ "ADMIN" | translate }}</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a ng-click="openUserManagement()" href><span>{{ 'USRMNG' | translate }}</span></a></li>
                <li><a ng-click="openFeedback()" href><span>{{ 'FEEDBACKMNG' | translate }}</span></a></li>
                <li><a ng-click="openCategory()" href><span>{{ 'CATEGORYMNG' | translate }}</span></a></li>
                <li><a ng-click="openRoleManagement()" href><span>{{ 'USRROLE' | translate }}</span></a></li>
                <li><a ng-click="openChartManagement()" href><span>{{ 'GRAF' | translate }}</span></a></li>
              </ul>
            </li>
          <li><a href ng-click="openChangePass()"><span>{{ "CHANGE_PASS" | translate }}</span></a></li>
         <li><a href ng-click="logout()"><span>{{ "LOGOUT" | translate }}</span></a></li>
            </ul>
          </div>
       </div>
   </nav>
<!--/.navbar-->
</br></br></br>
</br></br>
<div class="pretraga" style="margin-top:40px;text-align:center;">
  <div style="display:inline-block;margin-right: 10px;">
   {{ 'SORT' | translate }}
  <select ng-model="orderProp" class="form-control" style="margin-top:5px;">
    <option value="name"> {{ 'NAME' | translate }}</option>
    <option value="description">{{ 'MSG' | translate }}</option>
    <option value="email">{{ 'EMAIL' | translate }}</option>
    <option value="form">{{ 'TYPEF' | translate }}</option>
  </select>
  </div>
  <div style="display:inline-block;">
  {{ 'SEARCH' | translate }} <input ng-model="query" class="form-control">
  </div>

</div>
<br>


<table class="table table-hover table-condensed tabela" ng-controller="FeedbackCtrl">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">
              <input type="checkbox" name="query_myTextEditBox" ng-click="checkAll()" ng-model="selectedAll">    
            </th>
            <th> {{ 'NAME' | translate }}</th>
            <th>{{ 'MSG' | translate }}</th>
            <th>{{ 'EMAIL' | translate }}</th>
            <th>{{ 'TYPEF' | translate }}</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="feedback in feedbacks | filter:query | orderBy:orderProp">
        <td style="text-align: center; vertical-align: middle;">
            <input type="checkbox" name="query_myTextEditBox" ng-model="feedback.Selected">    
        </td>
        <td> {{feedback.name}}</td>
        <td> {{feedback.description}}</td>
        <td> {{feedback.email}}</td>
        <td> {{feedback.form}}</td>
      </tr>
</table>
<div id="copyright">© Copyright 2015</div>