<!--home page-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/star.png" type="favicon/ico" />

    <title>Grafika Saran</title>
  </head> 
    
    <body id="body" class="user">
<header id="navigation" class="navbar navbar-inverse navigationbar  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    
                    <div class="container" ng-controller="HomeController">
                    
                    <a href="#/home_admin" class="logo">
                       logo 
                    </a>
                <!--<div class="localization-bs-en" localization-bs-en></div>-->
                

                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav usernav">
                        <li class="current"><a href ng-click="openHome()"><span>{{ "HOME" | translate }}</span></a></li>
                        <li><a href ng-click="openChangePass()"><span>{{ "CHANGE_PASS" | translate }}</span></a></li>
                        <li><a href ng-click="logout()"><span>{{ "LOGOUT" | translate }}</span></a></li>
                    </ul>
                </nav>
                <!-- /main nav -->
                </div>
            </div>
            </div>
        </header>

</br></br>
<section id="showcase" class="bg-one brown">
            <div class="container">
                <div class="row wow fadeInDown" data-wow-duration="500ms">
                    <div class="col-lg-12">
                        <div class="pretraga">
                          <div style="display:inline-block;margin-right: 10px;float:left;margin-top:-30px;">
                           {{ 'SORT' | translate }}
                          <select ng-model="orderProp" class="form-control" style="margin-top:5px;">
                            <option value="name">{{ 'ORDNAME' | translate }}</option>
                          </select>
                          </div>

                        <!-- section title -->
                        <div style="display:inline-block;margin-left:150px;">
                            <h2>Moji <span class="coloru">projekti</span></h2>
                            <div class="border"></div>
                        </div>

                        <div style="display:inline-block;float:right;margin-top:-30px;">
                        {{ 'SEARCH' | translate }} <input ng-model="query" class="form-control">
                        </div>

                      </div>
                        <!-- /section title -->                        
                    </div> <!-- /end col-lg-12 -->
                </div> <!-- end row -->
            </div>  <!-- end container -->
    
            
</br></br>
<div class="container">
<table class="table table-striped" ng-controller="SearchCategoriesControler">
  <thead>
   <tr>
  <th>Naziv</th>
            <th>Opis</th>
          </tr>
    </thead>
    <tbody>
      <tr ng-repeat="category in categories | filter:query | orderBy:orderProp">
        <td> <a ng-controller="TasksController" ng-click="openTask()" href> {{category.name}} </a></td>
        <td> {{category.description}}</td>
      </tr>
    </tbody>
</table>
</div>
</br></br></br></br></br></br></br></br></br></br>
</body>
</html>

            
        </section>   <!-- End section -->
        </body>
        </html>