<!--Form for password reset after mail is sent-->
<div id="background">
    <img src="/assets/bcgnwt1.jpg" class="stretch" alt="" /> 
		<div class="container">
			<div style="height:600px">     
				<div class="reset-pass">
				    <form class="form-signin form-inline" role="form" name="myForm" ng-controller="InsertPwdForResetController">
				    	<!--title-->
				    	<h1 class="text-center login-title">eStamparija</h1>

				    	<!-- input password-->
						<div class="input-prepend form-group has success has-feedback">
							<label class="control-label" for="inputSuccess4"></label>
							<input name="password" type="password" minlength="3" class="form-control" placeholder="Šifra" ng-model="user.password" required autofocus/>
							<span class="glyphicon glyphicon-lock form-control-feedback"></span>
							<!--password validation (client side)-->
							<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
							    <span ng-show="myForm.password.$error.required">Unos pasvorda je obavezan.</span>Pasvord mora imati više od 3 karaktera.
							</span>	
						</div>

						<!--input password confirmation-->
						<div class="input-prepend form-group has success has-feedback">
							<label class="control-label" for="inputSuccess4"></label>
						  	<input name="passwordc" type="password" class="form-control" placeholder= "Potvrda šifre" ng-model="user.password_confirmation" />
						  	<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						</div>

						<!--submit button-->
				        <button class="btn btn-lg btn-primary btn-block" ng-click="doResetConfirm()"  ng-disabled="loginForm.$invalid">Promjena</button>
				    </form>
			    </div>
			</div>
		</div>
		<div id="copyright">© Copyright 2015</div>
</div>
