<div class="navbar" navbar></div>
<div style="margin-top:70px;">
  <div class="row">
       <div class="col-lg-4">
       </div>
       <div class="col-lg-4">
                <div class="boxed-grey resources">
	                <form class="form" ng-submit="upload()">
		                <div class="row">
	                        <div class="col-md-12">
	                            <div class="form-group">
	                                <input type="file" nv-file-select uploader="uploader"/>
	                            </div>
					      		<div class="col-md-12">
	                            	<button style="float:right;" type="submit" class="btn btn-primary">Upload</button>
	                        	</div>
					  		</div>
	                    </div>
				    </form>
				</div>
		</div>
	</div>
</div>
 