<!--Form for password reset after user hits forgot account button-->

    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grafika Saran</title>

  </head>
  <body>

    <!--== 4. Header ==-->

        <section class="header" id="header">
            <div class="navigationbar  navbar-fixed-top">
                <div class="container">
                    <a href="#/welcome" class="logo">
                       logo 
                    </a>
                    <!--<div class="localization-bs-en" localization-bs-en></div>-->
                </div> <!-- /.container -->
            </div> <!-- /.navigation-bar -->
            <div class="header-description text-center">
                <div class="header-content wow bounce animated">
                    
                  <div class="container"> 
                  <img src="assets/Neckstrap_silver_Tl__x290.png" class="akreditacija">  
    <div style="height:600px">
      <div style="height:600px">
        <div class="account-wall">
          <form class="form-signin form-inline" role="form" name="myForm" ng-controller="ResetController">
            <!--title-->
            <h1 class="text-center login-title">eStamparija</h1>

      			<!-- input email-->
            <div class="input-prepend form-group has success has-feedback">
              <label class="control-label" for="inputSuccess4"></label>
              <input name="email" type="email" class="form-control" placeholder="E-mail" ng-model="user.email" required autofocus id="inputSuccess4"/>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span></br>
              <!--email validation (client side)-->
              <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">Unos emaila je obavezan.</span>
                <span ng-show="myForm.email.$error.email">Format email addrese nije dobar.</span>
              </span> 
            </div>

            <!--submit button-->
      	    <button class="btn btn-lg btn-primary btn-block" ng-click="doReset()"  ng-disabled="loginForm.$invalid">Potvrdi</button>

            <!--link for registration form-->
            <a class="center-block new-account color" ng-controller="LoginController" href ng-click="openRegistration()"><span>{{ 'REGISTER' | translate }}</span></a>
          </form>
        </div>
  </div>
  </div>


                </div> <!-- /.header-content -->   
            </div> <!-- /.header-description -->
        </section> <!-- /#header -->

  </body>
</html>