<div class="navbar" navbar></div>
</br>
<div class="pretraga" style="margin-top:40px;text-align:center;">
  <div style="display:inline-block;">
    {{ 'SEARCH' | translate }}  &nbsp &nbsp<input style="display:inline-block;" ng-model="query" style="margin-top:5px;" class="form-control">
    </div>
    <a ng-href="/#/questions/{{question_id}}/new_resource" class="btn btn-common"><b>Novi resurs</b></a>

</div>

</br></br>
<table class="table table-hover table-condensed tabela" ng-controller="ResourcesCtrl">
    <thead>
        <tr>
            <th> {{ 'NAME' | translate }}</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="upload in uploads | filter:query" >
        <td> {{upload.filename}}</td>
        
      </tr>
</table>
