<!--Form for updating category-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/star.png" type="favicon/ico" />

    <title>Grafika Saran</title>
  </head> 
    
    <body id="body">
        


        <header id="navigation" class="navbar navbar-inverse navigationbar  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    
                    <div class="container" ng-controller="HomeAdminController">
                    
                    <a href="#" class="logo">
                       logo 
                    </a>
                <!--<div class="localization-bs-en" localization-bs-en></div>-->
                

                <!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href= "#/home_admin">Početna</a></li>
                        <li><a ng-click="openUserManagement()" href><span><!--{{ 'USRMNG' | translate }}-->Uposlenici</span></a></li>
                        <!--<li><a ng-click="openFeedback()" href><span><!--{{ 'FEEDBACKMNG' | translate }}</span>Projekti</a></li>-->
                        <li  class="current"><a ng-click="openCategory()" href><span><!--{{ 'CATEGORYMNG' | translate }}-->Projekti</span></a></li>
                        <!--<li><a ng-click="openRoleManagement()" href><span><!--{{ 'USRROLE' | translate }}</span></a></li>-->
                        <!--<li><a ng-click="openChartManagement()" href><span><!--{{ 'GRAF' | translate }}Poslovanje</span></a></li>-->
                        <li><a ng-click="openChartManagement()" href><span><!--{{ 'GRAF' | translate }}-->Poslovanje</span></a></li>
                        <li><a href ng-click="openChangePass()"><span><!--{{ "CHANGE_PASS" | translate }}-->Uredi profil</span></a></li>
                        <li><a href ng-click="logout()"><span><!--{{ "LOGOUT" | translate }}</span>-->Odjava</a></li>
                    </ul>
                </nav>
                <!-- /main nav -->
                </div>
            </div>
            </div>
        </header>
        
</br><br><br>
<section class="bg-one brown">
		<div class="container">
                <div class="row wow fadeInDown" data-wow-duration="500ms">
                    <div class="col-lg-12">
                    
                        <!-- section title -->
                        <div class="title text-center add-user">
                            <h2>Izmjena podataka o <span class="color">projektu</span></h2>
                            <div class="border"></div>
                        </div>
                        <!-- /section title -->
                        
                    </div> <!-- /end col-lg-12 -->
                </div> <!-- end row -->
            </div>  <!-- end container -->
	    <div class="container">    
		<div style="height:380px">
	    <div class="account-wall addprojectmng">

	    <form class="form-signin form-inline" role="form" name="myForm" ng-controller="UpdateCategoryController2">
	    		<h1 class="text-center login-title"> Uređivanje projekta </h1>
			  	<!-- input name-->
			  	<div class="input-prepend form-group has success has-feedback">
			  		<label class="control-label" for="inputSuccess4"></label>
				  	<input name="name" pattern="^([a-zA-Z0-9_ ]){3,}$" maxlength="20" class="form-control" type="text" placeholder="Ime" ng-model="category.name" required autofocus id="inputSuccess4"/>
				  	<span class="glyphicon glyphicon-user form-control-feedback" style="color:black"></span></br>
				  	<br>
				  	<!--name validation (client side)-->
					<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
						<span ng-show="myForm.name.$error.required">Unos imena je obavezan.</span>Ime mora sadržavati više od 3 karaktera.
					</span>	
			    </div>

				<!-- input job-->
				<div class="input-prepend form-group has success has-feedback">
					<label class="control-label" for="inputSuccess4"></label>
				  	<input name="desc" type="text" pattern="^([a-zA-Z0-9_ ]){3,}$" maxlength="255" class="form-control" placeholder= "Opis" ng-model="category.description" id="inputSuccess4"/><br>
				  	<span class="glyphicon glyphicon-briefcase form-control-feedback" style="color:black"></span></br>
				  	<span style="color:red" ng-show="myForm.description.$dirty && myForm.jdescriptionb.$invalid">Opis mora sadržavati više od 3 karaktera.
				    </span>	
				</div>

				<!-- submit button-->
				<div class="actions">
				  <button class="btn btn-lg btn-primary btn-block" ng-click="updateCategoryC()"  ng-disabled="myForm.$invalid">Izmijeni</button>
				</div>
			  </form>
			</div>
		</div>
		</div>
	</div>
    <br>
	</section>
</body>
</html>