<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/star.png" type="favicon/ico" />

    <title>Grafika Saran</title>
  </head> 
  <body>

    <!--== 4. Header ==-->

        <section class="header" id="header">
            <div class="navigationbar  navbar-fixed-top">
                <div class="container">
                    <a href="#" class="logo">
                       logo 
                    </a>
                </div> <!-- /.container -->
            </div> <!-- /.navigation-bar -->
            <div class="header-description text-center">
                <div class="header-content wow bounce animated">
                    <h1 class="heading">grafika šaran</h1>
                </br></br>
                    <p class="heading-subtitle">
                        pojednostavite svoj posao
                    </p> 
                </br>
                    <hr>
                    <a href="#/login" class="btn btn-primary btn-xl">Prijava</a>
                    &nbsp; 
                    <a href="#/register" class="btn btn-primary btn-xl">Registracija</a>
		        	

                </div> <!-- /.header-content -->   
            </div> <!-- /.header-description -->
        </section> <!-- /#header -->

  </body>
</html>